  body{
           
            background-image:url(https://www.xtrafondos.com/wallpapers/the-jokers-smile-2985.jpg);
          
            background-attachment: auto
            background-repeat: no-repeat;;
            background-position:right top;
             background-size: 1600px 1100px;
        }
    
    h1 {font-size: 70px;
      color:Red;
    font-style: italic;
    text-decoration: underline;}
    